<wicket:extend>
    <form wicket:id="registrationForm">
        <label for="username">Användarnamn: </label>
        <input type="text" wicket:id="username" id="username" />
        <label for="username">Lösenord: </label>
        <input type="password" wicket:id="password" id="password" />
        <label for="username">E-postadress: </label>
        <input type="email" wicket:id="email" id="email" />
        <input type="submit" wicket:id="submit" value="Gå med!" />
        <div class="feedbackBox" wicket:id="feedbackPanel"></div>
    </form>
</wicket:extend>